* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#B068E9, #6463E7);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-color: #6463E7;
    font-family: 'Kumbh Sans', sans-serif;
    color: #787887;
    font-size: 13px;
}

#container {
    width: 87%;
    padding-top: 148px;
    padding-bottom: 85px;
}

main {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#faq {
    background-color: #FFFFFF;
    border-radius: 23px;
    position: relative;
    padding-top: 132px;
    background-image: url("../images/bg-pattern-mobile.svg");
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 48px;
}

#images {
    width: 100%;
    overflow: auto;
    position: absolute;
    top: -108px;
    display: flex;
    justify-content: center;
}

#images div {
    background-image: url("../images/illustration-woman-online-mobile.svg");
    width: 237px;
    height: 180px;
}

.quest-resp {
    margin: 17px 24px;
}

.question {
    font-size: 13px;
    color: #1E1F36;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.response {
    font-size: 12px;
    line-height: 18px;
    margin-top: 13px;
    display: none;
}

h1 {
    font-weight: bold;
    font-size: 32px;
    color: #1E1F36;
    text-align: center;
    margin-bottom: 38px;
}

hr {
    height: 1px;
    background-color: #E8E8EA;
    color: #E8E8EA;
    border-width: 0;
    margin-bottom: 16px;
    margin-top: 16px;
}

.arrow {
    display: inline-block;
    text-align: right;
}

@media only screen and (min-width:920px) {
    #container {
        width: 920px;
        height: auto;
    }
    #images div {
        background-image: url("../images/illustration-woman-online-desktop.svg");
        width: 100%;
        height: 359px;
        background-repeat: no-repeat;
    }
    #images {
        top: 60px;
        width: 472px;
        position: absolute;
        left: -84px;
        height: 100%;
        overflow: hidden;
    }
    #faq {
        background-color: #FFFFFF;
        border-radius: 23px;
        position: relative;
        padding-left: 475px;
        padding-top: 65px;
        overflow: hidden;
        background-image: url("../images/bg-pattern-desktop.svg");
        background-position: -570px -300px;
        background-repeat: no-repeat;
    }
    .quest-resp {
        width: 350px;
    }
    h1 {
        text-align: left;
    }
}